//* COLOR

$color-primary-0: #BD7AF7; // Main Primary color */
$color-primary-1: #F0DFFE;
$color-primary-2: #D4A6FB;
$color-primary-3: #A854F0;
$color-primary-4: #9031E2;

$color-secondary-0: #F971D4; // Main Secondary color (1) */
$color-secondary-1: #FFDDF5;
$color-secondary-2: #FCA0E3;
$color-secondary-3: #F34AC5;
$color-secondary-4: #FF5151;


$color-tertiary-0: #9282F8; // Main tertiary color (2) */
$color-tertiary-1: #E5E1FE;
$color-tertiary-2: #B6ABFC;
$color-tertiary-3: #735FF1;
$color-tertiary-4: #533CE4;

$color-univ-indo: #FFD505;
$color-univ-gajah:#D8C6A5;
$color-utbk: #418BCA;
$color-utbk-dark: #5643fa;

$color-black: #050608;

$color-white: #fff;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

//* FONT

$default-font-size: 1.6rem;

//* GRID

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;