//* COLOR

$color-primary-0: #bd7af7; // Main Primary color */
$color-primary-1: #f0dffe;
$color-primary-2: #d4a6fb;
$color-primary-3: #a854f0;
$color-primary-4: #9031e2;

$color-secondary-0: #f971d4; // Main Secondary color (1) */
$color-secondary-1: #ffddf5;
$color-secondary-2: #fca0e3;
$color-secondary-3: #f34ac5;
$color-secondary-4: #ff5151;

$color-tertiary-0: #9282f8; // Main tertiary color (2) */
$color-tertiary-1: #e5e1fe;
$color-tertiary-2: #b6abfc;
$color-tertiary-3: #735ff1;
$color-tertiary-4: #533ce4;

$color-univ-indo-light: #f7ce04;
$color-univ-indo-dark: #F7B504;
$color-univ-gajah-light: #d8c6a5;
$color-univ-gajah-dark: #ad5b00;
$color-utbk-light: #418bca;
$color-utbk-dark: #5643fa;

$color-black: #050608;

$color-white: #fff;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark-1: #777;

//* FONT

$default-font-size: 1.6rem;

//* GRID

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;