@import '../../sass/main.scss';

.navbar__menu {
    flex-grow: 1;
    font-family: inherit;
    font-size: 1.6rem;
    align-self: stretch;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border: none;
    background-color: transparent;

    &:last-child {
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
    }

    &-text {
        backface-visibility: hidden;
        font-family: inherit;
        margin-left: 0.7rem;
        cursor: pointer;
        text-decoration: none;
        color: $color-black;
        margin-top: 0.15rem;
        transition: all 0.2s;
    }

    &-text:hover {
        transform: scale(1.03);
        color: $color-secondary-4;
    }

    &-text:hover+&-icon {
        transform: scale(1.03) translateX(-1px);
        fill: $color-secondary-4;
    }

    &-text:active {
        transform: scale(0.96);
    }

    &-text:active+&-icon {
        transform: scale(0.96) translateX(3px);
        ;
    }

    &-icon {
        transition: all 0.2s;
        fill: $color-black;
        backface-visibility: hidden;
    }
}