@import '../../sass/main.scss';

.profilepage--background {
    width: 100%;
    height: 300rem;
    background-image: linear-gradient(to right,
            rgba($color-primary-3, 1),
            rgba($color-tertiary-3, 1));
    display: flex;
    justify-content: center;
}

.profilepage {
    margin-top: 12rem;
    height: 76%;
    width: 80%;
    background-color: $color-white;
    border-radius: 20px;
    box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0.4);
    //display: flex;

    &__info {
        height: 40rem;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        width: 100%;
        display: flex;
        align-items: center;
        border-bottom: 2px solid $color-grey-dark-2;

        &-svg-box {
            flex: 0 0 30%;
            padding-left: 2rem;
            padding-top: 1rem;
        }

        &-svg {
            height: 30rem;
            width: 40rem;
        }
    }
}

.overview {
    &__title {
        margin-top: 3rem;
    }
}