@import '../../sass/main.scss';

.header {
  padding-top: 5rem;
  display: flex;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 70vh;
  background-image: linear-gradient(to right, rgba($color-primary-3, 1), rgba($color-tertiary-3, 1));
  background-size: cover;
  background-position: top;
  // clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);

  &__text-box {
    margin-left: 12rem;
    margin-bottom: 3rem;
  }

  &__decoration {
    position: absolute;
    top: 0;
    left: 0;
    width: 17rem;
    height: 17rem;
    z-index: -1;
    border-radius: 50px;
    transform: rotate(60deg);

    background-color: $color-secondary-4;
  }
}

.wave {
  margin-top: -6rem;
}