@import '../../sass/main.scss';

.navbar {
    font-family: 'Poppins';
    background-color: $color-white;
    box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0.4);
    width: 82%;
    position: fixed;
    height: 5rem;
    margin-left: 9%;
    margin-top: 3rem;
    z-index: 1000;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}