@import '../../sass/main.scss';


.section-info {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex: 0 0 30%;
    background-color: $color-grey-dark-2;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;

    &__img {

        &--svg {
            padding-left: 7%;
            padding-top: 5%;
            width: 86%;
            height: 25rem;
        }
    }

    &__text--main {
        font-family: Poppins;
        font-size: 2.2rem;
        padding-top: 1rem;
        color: #F2F2F2;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: -2rem;
        margin-bottom: 1rem;
    }

    &__text--sub {
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: Nunito;
        font-weight: 300;
        color: #F2F2F2;
        margin-top: 1rem;
    }

    &__button {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__button {
        margin-top: 4rem;
    }
}