@import '../../sass/main.scss';

.exampage {
    display: flex;
    height: 100%;
    border-radius: 20px;


    &__background {
        display: flex;
        background-image: linear-gradient(to right,
                rgba($color-primary-3, 1),
                rgba($color-tertiary-3, 1));
        width: 100vw;
        height: 100vh;
        justify-content: center;
        align-items: center;

    }

    &__box {
        position: relative;
        width: 95vw;
        height: 90vh;
        border-radius: 20px;
        background-color: $color-white;
    }
}

.exampage__question {
    background-color: $color-white;
    height: 100%;
    flex: 0 0 75%;
    align-items: center;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
}

.exampage__info {
    background-color: $color-grey-dark-2;
    flex: 0 0 25%;
    align-items: center;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.info__timer {
    margin-top: 4rem;
}

.info__question {
    box-sizing: content-box;
    margin-top: 3rem;
    width: 75%;
    min-height: 35vh;
    border-radius: 20px;
    background-color: $color-white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.info__number {
    cursor: pointer;
    height: 3.6rem;
    width: 10%;
    margin-left: 1rem;
    margin-right: 1rem;
    background-color:
        $color-white;
    border-radius: 10px;
    color: $color-grey-dark-2;
    border: 2px solid $color-grey-dark-2;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: .5rem;
    margin-bottom: .5rem;
    transition: all .2s;

    &:hover {
        background-color: $color-grey-dark-2;
        color: $color-secondary-4;
        border: 2px solid $color-secondary-4;
    }

    &.--active {
        background-color: $color-grey-dark-2;
        color: $color-secondary-4;
        border: 2px solid $color-secondary-4;
    }
}

.info__button {
    margin-top: auto;
    margin-bottom: 4rem;
}