@import '../../sass/main.scss';

.navbar {
    font-family: 'Poppins';
    background-color: #fff;
    box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0.4);
    width: 82%;
    position: fixed;
    height: 5rem;
    margin-left: 9%;
    margin-top: 4rem;
    z-index: 1000;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__menu {
        flex-grow: 1;
        align-self: stretch;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: center;

        &:last-child {
            padding-right: 10rem;
            border-top-right-radius: 50px;
            border-bottom-right-radius: 50px;
        }

        &-text {
            backface-visibility: hidden;
            font-family: inherit;
            margin-left: 0.7rem;
            cursor: pointer;
            text-decoration: none;
            color: $color-black;
            margin-top: 0.15rem;
            transition: all 0.2s;
        }

        &-text:hover {
            transform: scale(1.03);
            color: $color-secondary-4;
        }

        &-text:hover+&-icon {
            transform: scale(1.03);
            fill: $color-secondary-4;
        }

        &-text:active {
            transform: scale(0.96);
        }

        &-text:active+&-icon {
            transform: scale(0.96);
        }

        &-icon {
            transition: all 0.2s;
            fill: $color-black;
            backface-visibility: hidden;
        }
    }
}