@import '../../sass/main.scss';

.tryout {
    background-image: linear-gradient(to right,
            rgba($color-primary-3, 1),
            rgba($color-tertiary-3, 1));
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-tryout {
    margin-top: 5%;
    width: 80%;
    height: 80%;
    border-radius: 20px;
    background-color: $color-white;
    display: flex;
    box-shadow: 0 2rem 4rem rgba($color-black, .4);
}